<pre>
	<%= Time.new %>
	<%= @h %>
</pre>
<form action="/" method="post">
	<input type="hidden" name="time" value="<%= Time.new %>">
	<input type="hidden" name="info" value="<%= @h %>">
	<button>Save</button>
</form>
